.col-md-8.bookmark-category
  - @bookmarks.each_pair do |topic, bookmarks|
    .col-md-12.topic
      %br
      %br
      %br
      = link_to "#{topic}", bookmark_path(topic), class: 'btn btn-default'
      %br
      %br
      %br
      = render partial: 'bookmarks/bookmark', locals: {bookmarks: bookmarks}