.col-md-8.liked-bookmarks
  %h4 Liked Bookmarks
  - @liked.each_pair do |topic, bookmarks|
    .col-md-12.topic
      %br
      = link_to "#{topic}", bookmark_path(topic), class: 'btn btn-default'
      %br
      %br
      %br
      = render partial: 'bookmarks/bookmark', locals: {bookmarks: bookmarks}