.about.text-center
  %h1 SaveIt is a social bookmarking utility!
  %br
  %p It allows users to submit bookmarks by email that are automatically categorized and sorted by topic.
  %br
  %p Users can sign up via email or by using a Facebook account.
  %br
  %p
    SaveIt features a live preview window for bookmarks utilized by the
    = link_to '(Jquery Live Link plugin).', 'https://github.com/alanphoon/jquery-live-preview'
