@import 'bootstrap';
@import 'bootstrap-social';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "livepreview-demo";

.bookmark  h4 {
  height: 50px;
  width:  auto;
}

.bookmark img {
  height: 30px;
  width:  30px;
}

.thumbnail {
  height: 250px;
  width: 310px;
}

.thumbnail img {
  position: absolute;
}