@import 'bootswatch/slate/variables';
@import 'bootstrap';
@import 'bootswatch/slate/bootswatch';
@import 'bootstrap-social';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "livepreview-demo";

body { 
  padding-top: 100px; 
}

.title {
  font-size: 80px;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.bookmark  h4 {
  height: 50px;
  width:  auto;
}

.bookmark img {
  height: 30px;
  width:  30px;
}

.thumbnail {
  height: 250px;
  width: 310px;
}  

.preview-window {
  top: 35%;
  position: fixed;
}